

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.calculator-screen {
    width: 100%;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding: 0 20px;
    font-size: 2.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

button {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: #e2e2e2;
}

.operator {
    color: #2e86c1;
}

.all-clear {
    background-color: #f0595f;
    color: #fff;
    border: none;
}

button[value="delete"] {
    background-color: #ff9800;
    color: #fff;
    border: none;
}

.equal-sign {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    grid-column: span 2;
} 