.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calculator-screen {
  width: 100%;
  height: 80px;
  border: none;
  background-color: #252525; 
  color: white;               
  text-align: right;
  padding: 0 20px;
  font-size: 2.5rem;
  box-sizing: border-box; 
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

button {
  height: 60px;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
}

button:hover {
  background-color: hsl(0, 0%, 92%); 
}


.operator {
  color: hsl(204, 54%, 44%);
}

.all-clear {
  background-color: #f0595f;
  color: hsl(0, 0%, 100%);
}

.equal-sign {
  background-color: #2e86c1;
  color: hsl(0, 0%, 100%);
  grid-column: span 3; 
}